:root {
    --primary-color: #E49898;
    --secondary-color: #D9D9D9;
    --primary-background: #A5A5A5;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.main-body {
    background-color: var(--primary-background);
}

header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
}

.logo-name {
    margin-bottom: 48px;
}

.logo-name img {
    height: 40px;
}

.name {
    font-size: 28px;
    margin: 0;
}

.coder-text {
    color: #0f5c15;
}

.academy-text {
    color: #2E1EC4;
}

nav {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    padding: 16px;
}

.social-media {
    display: flex;
    justify-content: space-around;
    margin-bottom: 32px;
}

.social-media a i {
    color: black;
    font-size: 20px;
} 

.info {
    color: black;
    
}

.info p {
    margin: 5px 0;

}

@media screen and (min-width: 576px) {
    header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;

    }
    
    .logo-name {
        margin-bottom: 0;
    }


nav {
     width: 50%;
}

.social-media {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

 }
}
 @media screen and (min-width: 768px) {
    body {
        margin: 0 15vw;
    }
 }